.THIS#divPai{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.THIS #bodyDocument{
    margin-top: 9%;
    margin-right: 8%;
    padding: 4rem 6rem;
    background-color: rgb(213, 215, 255);
    border-radius: 1rem;
    min-width: 580px;
}

.THIS #loginName{
    margin-right: 5%;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.THIS #dataInputs{
    margin-top: 25px;
    display: grid;
    width: 100%;
}

.THIS #buttons{
    display: flex;
    width: 100%; 
    justify-content: center; 
    align-items: center;
    transition: all 0.3s ease 0s;
    transition-duration: 1s;
}

.THIS .btnEntrar{
    margin-top: 10px;
    width: 70%;
    background-color: rgb(125, 35, 250);
    border: none;
    color: white;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
    transition-duration: 0.6s;
    padding: 4px;
}

.THIS .btnEntrar:hover{
    background: #ffffff;
}

.THIS .labels{
    margin-bottom: 3px;
}

.THIS #usernameInput, .THIS #passwordInput{
    width: auto;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color:rgb(240, 240, 240);
    margin-bottom: 4px;
}

.THIS #divForgotPassword{
    text-align: right;
    margin-top: 10px;
}

.THIS .pForgotPassword{
    margin-left: 40%;
}

.THIS .pShowPortal{
    margin-left: 55%;
}

.THIS .pForgotPassword:hover{
    cursor: pointer;
    color: blue;
}

.THIS .pShowPortal:hover{
    cursor: pointer;
    color: blue;
}

.THIS #errorUsername{
    margin: -1% 64% 1% 1%;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.THIS #errorPassword{
    margin: -1% 64% 1% 1%;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 720px) {
    .THIS#divPai{
        display: grid;
        justify-content: center; 
        align-items: center;
    }

    .THIS #bodyDocument{
        padding: 4rem 2rem;
        background-color: rgb(213, 215, 255);
        border-radius: 1rem;
        min-width: 380px;
        width: 100%;
    }
}

.THIS .loading{
    display: block;
    position: relative;
    background: none;
    border: none;
    margin: 4%;
}